services:
  rabbitmq:
    image: rabbitmq:3.13-management   # inclui UI http://localhost:15672
    container_name: rabbitmq
    ports:
      - "5672:5672"     # AMQP
      - "15672:15672"   # Management UI
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin
      RABBITMQ_SERVER_ADDITIONAL_ERL_ARGS: "-rabbitmq_management load_definitions \"/etc/rabbitmq/definitions.json\""
    volumes:
      - ./definitions.json:/etc/rabbitmq/definitions.json:ro
      # - rabbitmq_data:/var/lib/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    networks:
      - backoffice-network

  redis:
    image: redis:7.2-alpine
    container_name: redis
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]  # AOF ligado
    volumes:
      - redis_data:/data
    depends_on:
      rabbitmq:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 10
    restart: unless-stopped
    networks:
      - backoffice-network
  jaeger:
    image: jaegertracing/all-in-one:1.53
    container_name: jaeger
    volumes:
      - ..:/jaeger
    environment:
      - COLLECTOR_OTLP_ENABLED=true 
      - COLLECTOR_ZIPKIN_HOST_PORT=:9411
    ports:
      - "6831:6831"
      - "6832:6832"
      - "5778:5778"
      - "16686:16686"
      - "4318:4318"
      - "14250:14250"
      - "14268:14268"
      - "14269:14269"
      - "9411:9411"
    networks:
      - backoffice-network

volumes:
  redis_data:

networks:
  backoffice-network:
    driver: bridge