PORT=8080
API_NAME=backoffice
ENVIRONMENT=local
RABBIT_PASSWORD=passw0rd
RABBIT_USER=user
TASKS_IN_NAME=tasks.in
TASKS_IN_URL=amqp://user:password@localhost:5672
TASKS_OUT_NAME=tasks.out
TASKS_OUT_URL=amqp://user:password@localhost:5672
TASKS_DLQ_NAME=tasks.in.dlq
TASKS_DLQ_URL=amqp://user:password@localhost:5672

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_READ_TIMEOUT=2
REDIS_WRITE_TIMEOUT=2

OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4318